# ICMS Maintenance

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# oo = pd.read_csv('/Users/ryanbreier/RB.Data & Programming/Data Science/inLearning/Pandas Essential Training/Ex_Files_Pandas_EssT/ExerciseFiles/data/olympics.csv', skiprows=4)
icms1 = pd.read_csv('/Users/ryanbreier/RB.Data & Programming/Data Science/Testing/icms_maintenance/icms_export_1.csv')
icms2 = pd.read_csv('/Users/ryanbreier/RB.Data & Programming/Data Science/Testing/icms_maintenance/icms_export_2.csv')

#### Inspect dataframe

In [3]:
icms1.head()
# icms2.head()
col_list = icms1.columns.tolist()
col_list

# icms1.dtypes
# icms1.describe()
# icms1.shape
# icms2.shape
# [rows_count, columns_count]

# icms1.shape[0] ## call rows_count
# icms1.shape[1] ## call columns_count

['DataProvider',
 'BaseAgreementID',
 'CommercialName',
 'ProductName',
 'SplitNum',
 'AcctAssignGL',
 'AcctAssignCC',
 'TermDate',
 'Amount']

#### Creat UniqueID field

In [4]:
# unique_cols = [icms1.columns.get_loc('DataProvider'),
#                icms1.columns.get_loc('SplitNum'),
#               ]
# unique_cols
# icms1['UniqueID'] = icms1.iloc[unique_cols[0]:unique_cols[1]]

icms1['UniqueID'] = icms1['DataProvider'] + '//' + icms1['BaseAgreementID'].astype(str) + '//' + \
icms1['CommercialName'] + '//' + icms1['ProductName'] + '//' + icms1['SplitNum'].astype(str)
# icms1
icms2['UniqueID'] = icms2['DataProvider'] + '//' + icms2['BaseAgreementID'].astype(str) + '//' + \
icms2['CommercialName'] + '//' + icms2['ProductName'] + '//' + icms2['SplitNum'].astype(str)

#### Index DataFrame by column name

In [5]:
icms1[['DataProvider','BaseAgreementID','CommercialName']].head(3)
# icms1.iloc[:,0:5].head(5)

  DataProvider  BaseAgreementID CommercialName
0          AAA              111   commexample1
1          AAA              222   commexample1
2          AAA              333   commexample1

#### value_counts --> counts distinct # of values in a given series

In [6]:
icms1['DataProvider'].value_counts()
# pd.value_counts(icms1['DataProvider'])

AAA    3
BBB    3
DDD    3
EEE    3
CCC    3
Name: DataProvider, dtype: int64

#### sort_values --> sort by column(s) in a given data frame

In [7]:
icms1_sorted = icms1.sort_values(by=['DataProvider','TermDate'])
icms1_sorted.head()

# icms2_sorted = icms2.sort_values(by=['Amount'], ascending=False)
# icms2_sorted.head(3)

,DataProvider,BaseAgreementID,CommercialName,ProductName,SplitNum,AcctAssignGL,AcctAssignCC,TermDate,Amount,UniqueID
0,AAA,111,commexample1,prodexample1,1,745150,10008542,12/31/19,150000,AAA//111//commexample1//prodexample1//1
1,AAA,222,commexample1,prodexample1,1,745150,10008542,12/31/19,200000,AAA//222//commexample1//prodexample1//1
2,AAA,333,commexample1,prodexample1,1,745150,10008542,12/31/19,50000,AAA//333//commexample1//prodexample1//1
3,BBB,111,commexample1,prodexample1,1,745150,10008542,4/30/20,200000,BBB//111//commexample1//prodexample1//1
4,BBB,222,commexample2,prodexample2,1,745150,10008542,4/30/20,15000,BBB//222//commexample2//prodexample2//1

#### Group By (Data Provider) and Aggregate (Amount)

In [8]:
# icms1.groupby(['DataProvider']).agg({'Amount':'max'})
# icms1.groupby(['DataProvider']).agg({'Amount':'min'})
# icms1.groupby(['DataProvider']).agg({'Amount':'count'})
# icms1.groupby(['DataProvider']).agg({'Amount':'mean'})
# icms1.groupby(['DataProvider']).agg({'Amount':['min','max','mean']})
icms1.groupby(['DataProvider','CommercialName']).agg({'Amount':['min','max','mean']})

                             Amount
                                min     max           mean
DataProvider CommercialName
AAA          commexample1     50000  200000  133333.333333
BBB          commexample1    200000  200000  200000.000000
             commexample2     15000   15000   15000.000000
CCC          commexample1     75000   75000   75000.000000
             commexample2     95000   95000   95000.000000
             commexample3    105000  105000  105000.000000
DDD          commexample1    300000  300000  300000.000000
EEE          commexample1    350000  350000  350000.000000
             commexample2    350000  350000  350000.000000

#### Filter dataframe on certain value(s) within certain column(s)

In [9]:
# icms1[icms1['DataProvider']=='AAA']
icms1[(icms1['BaseAgreementID']==111) | (icms1['TermDate']<='12/10/2019')].head(3)

,DataProvider,BaseAgreementID,CommercialName,ProductName,SplitNum,AcctAssignGL,AcctAssignCC,TermDate,Amount,UniqueID
0,AAA,111,commexample1,prodexample1,1,745150,10008542,12/31/19,150000,AAA//111//commexample1//prodexample1//1
3,BBB,111,commexample1,prodexample1,1,745150,10008542,4/30/20,200000,BBB//111//commexample1//prodexample1//1
6,CCC,111,commexample1,prodexample1,1,745150,10008542,5/31/20,75000,CCC//111//commexample1//prodexample1//1

Count the number of base agreements for Data Providers names containing 'AAA'

In [10]:
icms1_AAA = icms1[icms1['DataProvider'].str.contains('AAA')]
icms1_AAA['BaseAgreementID'].value_counts()

111    1
222    1
333    1
Name: BaseAgreementID, dtype: int64

## Merge versions

In [11]:
icms2 = icms2[['UniqueID','AcctAssignGL','AcctAssignCC','TermDate','Amount']]

# Merge DataFrames
icms_merged = icms1.merge(icms2,how='inner',on=['UniqueID'],suffixes=('_old','_new'))

#### CC changes

In [12]:
icms_changed_cc = icms_merged[icms_merged['AcctAssignCC_old'] != icms_merged['AcctAssignCC_new']]
icms_changed_cc[['DataProvider','CommercialName','AcctAssignCC_old','AcctAssignCC_new']]

   DataProvider CommercialName  AcctAssignCC_old  AcctAssignCC_new
11          DDD   commexample1          10008542          10008536

#### G/L changes

In [13]:
icms_changed_gl = icms_merged[icms_merged['AcctAssignGL_old'] != icms_merged['AcctAssignGL_new']]
icms_changed_gl[['DataProvider','CommercialName','AcctAssignGL_old','AcctAssignGL_new']]

  DataProvider CommercialName  AcctAssignGL_old  AcctAssignGL_new
5          BBB   commexample2            745150            745200

#### Annual Amount changes

In [14]:
icms_changed_gl = icms_merged[icms_merged['Amount_old'] != icms_merged['Amount_new']]
icms_changed_gl[['DataProvider','CommercialName','Amount_old','Amount_new']]

   DataProvider CommercialName  Amount_old  Amount_new
14          EEE   commexample1      350000      400000

## Basic Plotting

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
fo = oo[oo['Edition'] == 1896]
fo['Sport'].value_counts().plot(kind='line');

In [ ]:
fo['Sport'].value_counts().plot(kind='bar');

In [ ]:
fo['Sport'].value_counts().plot(kind='barh');

In [ ]:
fo['Sport'].value_counts().plot(kind='pie');

## Seaborn

In [ ]:
import seaborn as sns

In [ ]:
sns.countplot(x='Medal', data=oo, hue='Gender');

### Medals won by China in 2008 Olympics

#### Matplotlib

In [ ]:
china2008 = oo[(oo['Edition'] == 2008) & (oo['NOC'] == 'CHN')]
china2008['Gender'].value_counts().plot(kind='bar');

#### Seaborn

In [ ]:
china2008 = oo[(oo['Edition'] == 2008) & (oo['NOC'] == 'CHN')]
sns.countplot(x='Gender', data=china2008, order=['Women', 'Men']);

#### Seaborn (with Colormap)

In [ ]:
sns.countplot(x='Gender', data=china2008, palette='bwr');

#### Plot the number Gold, Silver, and Bronze medals for each gender (China/2008 dataset)

In [ ]:
sns.countplot(x='Medal', data=china2008, palette='bwr', hue='Gender', order=['Gold', 'Silver', 'Bronze']);

## Indexing

#### Plot the total number of medals awarded at each of the Olympic games throughout history

In [ ]:
sns.countplot(x='Edition', data=oo);

#### Which countries did not win a medal in the 2008 Olympics? How many countries were there?

## Groupby

In [ ]:
# list(oo.groupby('Edition'))
group_by = 'Edition'
oo_ath = oo.groupby(group_by)

In [ ]:
for group_key, group_value in oo_ath:
    print(group_key)
    print(group_value)

#### Groupby Computations

In [ ]:
oo_ath.size().head()

In [ ]:
oo[oo['Athlete'] == 'LEWIS, Carl'].groupby(['Athlete','Medal','Event']).agg({'Edition' :['min','max','count']})

#### Using groupby, plot the total number of medals awarded at each of the Olympic games throughout history

In [ ]:
# oo_grouped = oo.groupby('Edition').size()
oo_grouped = oo.groupby('Edition').agg({'Medal':'count'})
oo_grouped.plot();

#### Create a list showing the total number of medals won for each country over the history of the Olympics. For each country, include the year of the first and the most recent Olympic medal wins.

In [ ]:
oo.groupby('NOC').agg({'Edition' :['min','max','count']}).head()

### Reshaping

In [ ]:
mw = oo[(oo['Edition'] == 2008) & ((oo['Event'] == '100m') | (oo['Event'] == '200m'))]
mw.head()

In [ ]:
g = mw.groupby(['NOC','Gender','Discipline','Event']).size()
g

##### Unstack --> move series' (Discipline & Event) to columns

In [ ]:
g.unstack(['Discipline','Event'], fill_value=0)

#### Plot the number of gold medals won by the USA male and female athletes throughout the history of the Olympics.

In [ ]:
usa_gold = oo[(oo['NOC'] == 'USA') & (oo['Medal'] == 'Gold')]
usa_gold_mw = usa_gold.groupby(['Edition', 'Gender']).size()
usa_gold_mw.unstack('Gender', fill_value=0).plot();
type(usa_gold)

#### Plot the five athletes who have won the most gold medals over the history of the Olympics. When there is a tie, consider the number of silver medals and then bronze medals.

In [ ]:
all_medals = oo.groupby(['Athlete','Medal']).size().unstack('Medal', fill_value=0)
all_medals.sort_values(['Gold','Silver','Bronze'], ascending=False)[['Gold','Silver','Bronze']].head().plot(kind='bar')

#### .loc --> Access a group of rows and columns by label(s) or a boolean array: [ r , c ]

In [ ]:
oo.loc[:,'Edition'].head(3)

### Data Visualizations

#### Heatmaps

In [ ]:
all_medals = oo.groupby(['NOC','Medal']).size().unstack('Medal', fill_value=0)
all_medals_sorted = all_medals.sort_values(['Gold','Silver','Bronze'], ascending=False)[['Gold','Silver','Bronze']].head(25);

In [ ]:
t = all_medals_sorted.transpose()
sns.heatmap(t);

#### Colormaps

In [ ]:
all_medals = oo.groupby(['Athlete','Medal']).size().unstack('Medal', fill_value=0)
sorted = all_medals.sort_values(['Gold','Silver','Bronze'], ascending=False)[['Gold','Silver','Bronze']].head().plot(kind='bar')

In [ ]:
gsb = ['#dbb40c','#c5c9c7','#a87900']
my_pal = sns.palplot(sns.color_palette(gsb))

In [ ]:
all_medals = oo.groupby(['Athlete','Medal']).size().unstack('Medal', fill_value=0)
all_medals = all_medals.sort_values(['Gold','Silver','Bronze'], ascending=False)[['Gold','Silver','Bronze']].head()
all_medals.plot(kind='bar', colormap=my_pal);

## Final Challenge

#### Problem

#### in every Olympics, which US athlete has won the most total number of medals? Include athlete's discipline.

In [ ]:
usam = oo[oo['NOC'] == 'USA']
usam = usam.groupby(['Edition','Athlete','Medal']).size().unstack('Medal',fill_value=0)
usam['Total'] = usam['Gold'] + usam['Silver'] + usam['Bronze']
# usam.reset_index(inplace=True)
tu = [group.sort_values('Total',ascending=False)[:1] for year,group in usam.groupby('Edition')]
med = pd.DataFrame()
for i in tu:
    med = med.append(i)
med